body{
    background-color: black;
    color: rgb(255, 255, 255);
}
h1{
    font-size: larger;
    background-color: rgb(21, 216, 53);
}
p{
    color: red;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}